<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"> 
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/projects.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About</title>
</head>
<body>
    <header>
    <%- include('partials/navbar', {active: "Projects"}); %>
</header>
<main>
<div class="body">
    <div class="options">
        <% if(data.length>0) {%>
            <% data.forEach(project => { %>
                <div class="option"  style='--optionBackground:url(<%= project.imageUrl %>);'>
                    <div class="shadow">
                        <div class="label">
                            <div class="icon">
                                <i class="fas <%= project.symbol %>"></i>
                            </div>
                            <div class="info">
                                <div class="main"><%= project.project %></div>
                                <div class="sub"><%= project.description %></div>
                            </div>
                             <div>
                                <% if(project?.deployment?.accessUrl && project?.deployment?.accessUrl !== "" ) {%>
                                <p>See it on: <a href="<%= project.deployment.accessUrl %>"><%= project.deployment.hostPlatform %></a></p>
                                <% } %>
                                <p><a href="<%= project.projectUrl %>">Git Repository</a></p>
                               <!-- <div class="skillStack">
                                    <ul>
                                   <% project.tools.forEach((tool) => { %>
                                       <li><%= tool %></li>
                                   <% }) %>
                                   </ul>
                               </div>-->
                        </div> 
                        
                    </div>
                    
                </div>
            </div>
        <% })}%>
    </div>
</div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/projects.js"></script>
</body>
</html>